<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.wm.cs.cs301.matthewcheng">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AMazeByMatthewCheng">
        <activity
            android:name=".LosingActivity"
            android:exported="false" />
        <activity
            android:name=".WinningActivity"
            android:exported="false" />
        <activity
            android:name=".PlayAnimationActivity"
            android:exported="false" />
        <activity
            android:name=".PlayManuallyActivity"
            android:exported="false" />

        <activity
            android:name=".GeneratingActivity"
            android:exported="false" />

        <activity
            android:name=".AMazeActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <service android:name=".BackgroundSoundService" />
    </application>

</manifest>